.footerLink {
  background-color: #1f5156;
  display: inline;
  margin: 1rem;
}

.ul {
  display: inline-block;
  margin: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  background-color: #1f5156;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  max-height: 15vh;
  padding: 2rem;
  width: 100vw;
  text-align: center;
  margin: 0rem;
  bottom: 0;
}

/* .footer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      max-width: 1500px;
      vertical-align: baseline;} */

.icon {
  color: #f5b921;
  font-size: 1.2rem;
}

.legacyText {
  text-align: center;
  bottom: 0;
}
